.wrapper {
    width: 1140px;
    margin: 0 auto;
}
*{
    box-sizing: border-box;
}
input,
button,
textarea {
    border-radius: 15px;
    padding: 20px;
    display: block; 
    width: 100%;
    /* margin-bottom: 20px; */
}

span {
    color: red;
    display: block;
    padding: 5px 0px;
}

table {
    width: 100%;
}
span{
    color:red;
    display: block;
    padding: 5px 0px;
}