#test {
    height: 90vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(132, 130, 186, 1) 0%, rgba(96, 93, 195, 1) 9%, rgba(35, 35, 240, 1) 61%, rgba(0, 212, 255, 1) 100%);
}

* {
    /* box-sizing: border-box; */
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

#content {
    /* width: 100%; */
    color: #fff;
}


.img-banner {
    width: 100%;
}

/* header */
#logo {
    width: 40%;
    justify-content: left;

}

#logo p {
    font-size: 50px;
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}

#header #main-menu {
    width: 60%;
}

#main-menu ul {
    display: flex;
    margin: 0px;
    justify-content: right;
}

#main-menu li {
    list-style: none;
}

#main-menu li a {
    text-decoration: none;
    display: block;
    padding: 23px 42.8px;
    font-weight: 700;
    color: #333333;
    font-size: 22px;
}

#main-menu li a:hover {
    background: linear-gradient(0deg, rgba(169, 167, 210, 1) 0%, rgba(255, 28, 151, 1) 0%, rgba(28, 94, 212, 1) 0%, rgba(101, 93, 231, 1) 53%, rgba(174, 91, 251, 1) 100%, rgba(166, 152, 217, 1) 100%);
    color: #fff;
}

/* content */
.banner {
    margin-bottom: 200px;
    transition: all 0.25s;
    position: relative;
}



.img-banner {
    display: none;
}

.banner1 {
    margin-top: 220px;
}

.note {
    max-width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    bottom: -100px;
}

.desc {
    line-height: 24px;
    font-size: 17px;
    line-height: 25px;
}

.desc #icon-next {
    position: absolute;
    right: 25px;
    bottom: 30px;
    font-size: 40px;
    color: #fff;
}

.detail {
    position: relative;
    /* margin: 25px; */
    padding: 15px 60px 15px 20px;
    width: 22%;
    cursor: pointer;
}

.block1 {
    background: linear-gradient(0deg, rgba(169, 167, 210, 1) 0%, rgba(255, 135, 16, 1) 0%, rgba(255, 149, 14, 1) 9%, rgba(255, 155, 0, 1) 57%, rgba(255, 175, 0, 1) 100%, rgba(166, 152, 217, 1) 100%);
}

.block2 {
    background: linear-gradient(0deg, rgba(169, 167, 210, 1) 0%, rgba(23, 94, 210, 1) 0%, rgba(105, 92, 233, 1) 9%, rgba(168, 92, 250, 1) 59%, rgba(184, 92, 255, 1) 100%, rgba(166, 152, 217, 1) 100%);
}

.block3 {
    background: linear-gradient(0deg, rgba(169, 167, 210, 1) 0%, rgba(255, 28, 151, 1) 0%, rgba(255, 32, 134, 1) 29%, rgba(255, 43, 97, 1) 67%, rgba(255, 47, 81, 1) 100%, rgba(166, 152, 217, 1) 100%);
}

.block4 {
    background: linear-gradient(0deg, rgba(169, 167, 210, 1) 0%, rgba(255, 28, 151, 1) 0%, rgba(185, 31, 225, 1) 0%, rgba(223, 26, 228, 1) 67%, rgba(254, 20, 231, 1) 100%, rgba(166, 152, 217, 1) 100%);
}

.title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 42px;
}

.container {
    margin: 0px 50px;
}

#header {
    display: flex;
    justify-content: space-between;
}

.prev,
.next {
    font-size: 35px;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 6px 24px;
    border-radius: 50%;
    color: #ffffff !important;
    font-weight: bold;
    transition: 0.6s ease;
    /* border-radius: 0 3px 3px 0; */
    user-select: none;
    opacity: 100%;
    /* display: none; */
    border: 2px solid #fff;
    /* background: #a2a2a2; */
}

.banner:hover .prev,
.banner:hover .next {

    display: block;
}

.prev:hover,
.next:hover {
    background: #6a6969;
    opacity: 95%;
}

.next {
    right: 0;
    /* border-radius: 3px 0 0 3px; */
}


.image-bn {
    width: 100%;
    height: auto;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.note :first-child {
    /* margin-left: 0px; */
}

.note :last-child {
    margin-right: 0px;
}


.block-post {
    width: 48%;
    margin-bottom: 2%;
}

.post {
    background: #e1e1e1;
    padding: 100px 70px 100px 70px;
    /* margin-right: 40px; */
}

.swap {
    flex-direction: row-reverse;
}

.od-right {
    order: 2;
}

.od-left {
    order: 1;
}

.new {
    margin-top: 180px;
    /* flex-wrap: wrap; */
}

.new_1 {
    color: #333333;
    display: flex;
    justify-content: space-between;
}

.thumb-post img {
    width: 100%;
}

.new_1 .read-more {
    color: #fff;
    margin-top: 100px;
    display: inline-block;
    padding: 20px 50px;
    background: linear-gradient(90deg, rgba(255, 134, 3, 1) 0%, rgba(255, 92, 41, 1) 50%, rgba(255, 68, 61, 1) 65%, rgba(255, 50, 78, 1) 100%)
}

.active {
    display: block;
}

.hidden {
    display: none;
}

.wp-try {
    background-image: url('../img/try.jpg');
    height: 700px;
    background-size: cover;
    background-position: center;
}

.wp-try {
    position: relative;
}
.try1{
    justify-content: space-between;
    height: 100%;
    
    display: flex;
}
.try-left,.try-right{
    width: 48%;
}
.try-left{
    background-color: rgb(223 30 90 / 90%);
}
.wp-try .desc {
    margin-top: 40px;
    margin-bottom: 50px;
    display: block;
}

.try-note {
    padding: 100px 100px;

    width: 48%;
    height: 100%;
    position: absolute;
    top: 0;
}

.wp-try a.read-more {
    margin-top: 25px;
    padding: 30px;
    width: 35%;
    text-align: center;
    color: #333;
    display: inline-block;
    font-weight: 500;
    /* opacity: 180%; */
    background: #fff;
}

.wp-try .desc {
    line-height: 30px;
    margin-top: 40px;
    margin-bottom: 50px;
    display: block;
    color: #fff;
    font-size: 24px;
}

.try-note .title {
    color: #fff;
    font-weight: 600;
}

a:hover {
    text-decoration: none;
}

.our-event {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.note-event {
    width:  48%;
    background: linear-gradient(0deg, rgba(169, 167, 210, 1) 0%, rgba(255, 127, 0, 1) 0%, rgba(255, 127, 0, 1) 0%, rgba(255, 154, 10, 1) 48%, rgba(255, 178, 20, 1) 70%, rgba(255, 186, 23, 1) 100%);
    padding: 5%;
    color: #fff;

}

.thumb-event {
    width: 48%;
    /* background: rgba(28, 94, 212, 1); */
    /* width: 500px;
    height: 500px; */
}

ul li {
    list-style: none;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.main-event {
    display: flex;
    align-items: center;

    /* flex-direction: column; */
}

.main-event a {
    margin-left: 5%;
    /* padding: 20px; */
    color: #fff;
    font-size: 24px;
    /* display: block; */
}

.about-us {
    display: flex;
    margin-top: 50px;
    min-height: 500px;
    justify-content: space-between;
    /* background: chartreuse; */
}

.info {
    margin-top: 200px;
    width: 22%;
    background: #f5f5f5;
    position: relative;
    /* text-align: justify; */
    padding: 20px;

}

.info1 {
    /* text-align: center; */
    position: absolute;
    top: -130px;
    /* left: 50%; */
    /* margin: 0 auto; */
    left: 20%;
}

.content-info1 {
    /* position: relative; */
    /* top: -130px; */
    margin-top: 130px;
    margin-bottom: 20px;
}
.name{
    color: orange;
    font-weight: 500;
    font-size: 30px;
}
.about-us .info img{
    max-width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: -120px;
}