.wrapper {
    border-top: 5px solid #76c38f;

    width: 100%;;
    margin: 0 auto;
}

.wp-header {
    background: #290000;
}

.wp-banner .read-more:hover {
    background: #8fc7a1;
    color: #fff;
}

.container-960 {
    /* width: 960px; */
    margin: auto;
}

.top-header {
    /* background: #607d8b; */
    color: #ffffff;
    padding: 40px 0px;
}

/* main menu */
.main-menu li {
    flex: auto;
    /* margin-left: 40px; */
    /* width: 20%; */
}

.main-menu li a {
    /* background: #76c38f; */
    /* display: block; */
    color: #ffffff;
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 10px;
    font-size: 13px;

}

.main-menu li a:hover {
    background: #76c38f;
}

.big-title {
    line-height: 24px;
    font-size: 28px;
    /* font-weight: 500; */
}

.small-title {
    font-size: 11px;
    color: #979797;
}

/* baner */
.banner {
    /* padding: 0px 60px; */
}

.slider {
    width: 80%;
}

.wp-banner {
    padding-bottom: 50px;
}

.wp-banner .slider {
    display: flex;
    justify-content: center;
}
.icon img{
    display: none;
}
.wp-header:hover .icon img{
    display: block;
    cursor: pointer;
    /* background: cornsilk; */
    /* opacity: 3%; */

}
.wp-banner .active {
    display: flex;
}

.wp-banner .hidden {
    display: none;
}

.banner .left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inner-right {
    width: 45%;
    border: 25px solid #6b6b6b;
    width: 405px;
    height: 405px;
    border-radius: 50%;
    background: #333333;
    position: relative;
}

.inner-right span {
    font-size: 26px;
    color: #fff;
}

.banner .title {
    line-height: 46px;
    padding-bottom: 25px;
    color: #fff;
    font-size: 46px;
}

.banner .desc {
    padding-right: 35px;
    /* padding-top: 15px; */
    line-height: 19.2px;
    color: #979797;
    font-size: 12px;
    margin-bottom: 20px;
}

.banner .icon-pre,
.banner .icon-next {
    width: 3%;
}

.read-more {
    align-self: flex-start;
    display: inline-block;
    background: #76c38f;
    border-radius: 10px;
    font-size: 13px;
    padding: 10px 20px;
    color: #fff;
}

.wp-banner img {
    max-width: 100%;
    max-height: 100%;
}

.wp-content {
    background: #660000;
    /* height: 500px; */
}

/* wp-container */

.new {
    padding-top: 65px;
    padding-bottom: 65px;
}

.inner-new {
    padding: 20px 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    /* height: 500px; */
    width: 23%;
}

.inner-new:hover {
    /* transition: all 0.25s; */
    cursor: pointer;
    ;
    background-color: #76c38f;

}

.inner-new:hover .desc p,
.inner-new:hover .title p {
    color: #fff;
}

.inner-new:hover .new1 {
    color: #333;
    background: #fff;
}

.new1 {
    color: #fff;
    background-color: #333333;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title p {
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
}

.desc p {
    color: #979797;
    font-size: 12px;
    line-height: 20.8px;
    text-align: center;
}

/* last word */
.cut {
    padding: 40px 0px 30px 0px;
    display: flex;
    align-items: center;

}

.cut .before,
.cut .after {
    height: 3px;
    background: #303030;
    width: 35%;
}

.cut p.lastest {
    text-align: center;
    border-radius: 10px;
    width: 30%;
    background: #303030;
    font-size: 32px;
    line-height: 38px;
    padding: 6px 15px;
    color: #fff;
}

.wp-lastwork {
    color: #fff;
}

.lastword:hover {
    border-color: #76c38f;
    border: 5px solid #76c38f;
    background: #353535;
}

.lastword:hover .last2 {
    display: none;
}

.lastword {
    border: 5px solid #fff;
    width: 31.25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

}

.last1 {
    position: relative;
    width: 100%;
    background: #353535;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.last2 {
    position: absolute;
    background: #151515;
    width: 100%;
    text-align: center;
    bottom: 0;

}

/* footer */
.wp-footer {

    /* height: 500px; */
}

.footer {
    color: #979797;
    padding: 40px;
    font-size: 13px;
    line-height: 20.8px;
    background: #303030;
    border-bottom: 1px solid #000000;
}

.bottom-25 {
    margin-bottom: 25px;
}

.wp-footer .basic {
    width: 23%;
}

.wp-footer .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.label {
    font-size: 16px;
    line-height: 19.2px;
    color: #fff;
}

.wp-footer .desc-1 {
    font-size: 10px;
    line-height: 12px;
}

.wp-footer .desc-1 span {
    display: inline-block;
    margin-bottom: 5px;
}

.wp-footer .text-scren {
    color: #76c38f;
}

.wp-footer .desc {
    font-size: 13px;

}

.wp-footer .contact form input:not(input[type="button"]),
.wp-footer .contact form textarea {
    /* box-sizing: border-box; */
    width: 100%;
    /* max-width: 100%; */
}

.domain {
    font-size: 10px;
    color: #666666;
}

.quick .content li {
    border-bottom: 1px solid #404040;
}

.quick .content a:hover,
.content a.readmore:hover {
    color: #9ce3b3 !important;
}

.quick .content a {
    line-height: 34.45px;
    color: #76c38f;
    font-size: 13px;
}

.quick .content a::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f101";
    color: #979797;
    padding-right: 5px;
    display: inline-block;
    /* background-image: url('../img/icon/CompositePath.png'); */
}

.coppy-right {
    padding: 25px;
    color: #979797;
    border-top: 1px solid #3a3a3a;
    background: #2b2b2b;
}

.contact input,
.contact textarea {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #222222;
    margin-bottom: 10px;
    color: #fff;
}

.contact textarea {
    resize: none;
}

.contact input[type="button"] {
    /* max-width: 100%; */
    padding: 8px 13px;
    display: inline-block;
    font-weight: 600;
    margin: 0;
    background: #76c38f;
}

.contact input[type="button"]:hover {
    background: #9ce3b3;
}

.coppy-right p {
    font-size: 13px;
    line-height: 13px;
}
.footer .desc p{
    text-align: left;
}