body {
  /* background-color: #413D3D; */
}

.grid {
  width: 600px;
  /* height: 500px; */
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 50px 50px 50px;
  border: 2px solid #cbcbcb;

}

.grid h1 {
  font-family: "sans-serif";
  background-color: #01BBFF;
  font-size: 60px;
  text-align: center;
  color: #ffffff;
  padding: 2px 0px;

}

#score {
  color: #01BBFF;
  text-align: center;
  font-size: 30px;
}

.grid #question {
  font-family: "monospace";
  font-size: 30px;
  color: #01BBFF;
}

.buttons {
  margin-top: 30px;
}

#btn0,
#btn1,
#btn2,
#btn3,
#btn4,
#btn5 {
  background-color: #01BBFF;
  width: 250px;
  font-size: 20px;
  color: #fff;
  border: 1px solid #1D3C6A;
  margin: 10px 40px 10px 0px;
  display: block;
  width: 100%;
  padding: 10px 10px;
}

#btn0:hover,
#btn1:hover,
#btn2:hover,
#btn3:hover,
#btn4:hover #btn5:hover {
  cursor: pointer;
  background-color: #01BBFF;
}

#btn0:focus,
#btn1:focus,
#btn2:focus,
#btn3:focus,
#btn4:focus #btn5:focus {
  outline: 0;
}

#progress {
  color: #2b2b2b;
  font-size: 18px;
}